# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
# from api_keys import g_key
g_key = "AIzaSyBdkQP7bqryY0Zn7edG4CPHHmQzonk2Yrk"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [34]:
csv_file = '../starter_code/city_weather.csv'
weather_df = pd.read_csv(csv_file)
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,shimsk,58.21,30.71,35.98,85,47,11.70,RU,1603073103
1,khatanga,71.97,102.50,7.29,87,0,8.61,RU,1603073103
2,cabo san lucas,-8.28,-35.03,78.80,69,75,10.29,BR,1603073103
3,east london,65.00,-15.00,37.40,93,90,16.11,IS,1603073103
4,ushuaia,-54.80,-68.30,39.20,69,75,10.29,AR,1603073103
...,...,...,...,...,...,...,...,...,...
523,nadvoitsy,63.87,34.32,32.74,97,100,8.61,RU,1603072973
524,pontianak,-0.03,109.33,87.98,64,91,1.10,ID,1603072974
525,san cristobal,13.30,-4.90,84.43,42,17,3.89,ML,1603072838
526,ardahan,41.11,42.70,44.49,57,0,1.88,TR,1603072974
527,ayr,55.46,-4.63,53.01,93,75,9.17,GB,1603072875

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
gmaps.configure(api_key=g_key)

In [35]:
locations= weather_df[["Lat","Lng"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False, max_intensity = 100,
                                point_radius=2)

fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [36]:
weather_df.columns

Index(['City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [57]:
conditon_df = weather_df.loc[(weather_df["Max Temp"] < 80) & (weather_df["Max Temp"] > 70) &
                              (weather_df["Wind Speed"] < 10) & (weather_df["Cloudiness"] == 0), : ]
conditon_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
24,damietta,31.42,31.81,77.00,78,0,5.82,EG,1603072763
46,ibra,22.69,58.53,72.28,19,0,9.66,OM,1603072904
166,bilma,18.69,12.92,79.05,17,0,5.08,NE,1603072921
219,mwense,-10.38,28.70,74.28,44,0,9.73,ZM,1603072931
240,lahij,13.17,44.58,75.85,45,0,1.74,YE,1603072934
282,hurghada,27.26,33.81,77.00,50,0,5.82,EG,1603072730
297,erzin,36.96,36.20,73.00,86,0,0.98,TR,1603073135
321,agadez,19.75,10.25,79.14,16,0,7.07,NE,1603073292
341,bandarbeyla,9.49,50.81,77.63,82,0,5.77,SO,1603073139
345,pleasanton,37.66,-121.87,75.00,55,0,1.01,US,1603072704
355,tura,25.52,90.22,78.73,83,0,1.19,IN,1603073141
407,taoudenni,22.68,-3.98,79.03,17,0,6.29,ML,1603073146
455,catamarca,-28.47,-65.79,73.99,52,0,1.99,AR,1603072964
462,doka,13.52,35.77,71.60,78,0,5.28,SD,1603073152
491,bage,-31.33,-54.11,71.60,56,0,8.05,BR,1603072969

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [66]:
hotel_df = conditon_df

#adding the column for Hotel NAME
hotel_df["Hotel Name"] 

#reset the indexs for display aesthetic also to make it easier to read the columns 
hotel_df.reset_index()

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,24,damietta,31.42,31.81,77.00,78,0,5.82,EG,1603072763,
1,46,ibra,22.69,58.53,72.28,19,0,9.66,OM,1603072904,
2,166,bilma,18.69,12.92,79.05,17,0,5.08,NE,1603072921,
3,219,mwense,-10.38,28.70,74.28,44,0,9.73,ZM,1603072931,
4,240,lahij,13.17,44.58,75.85,45,0,1.74,YE,1603072934,
5,282,hurghada,27.26,33.81,77.00,50,0,5.82,EG,1603072730,
6,297,erzin,36.96,36.20,73.00,86,0,0.98,TR,1603073135,
7,321,agadez,19.75,10.25,79.14,16,0,7.07,NE,1603073292,
8,341,bandarbeyla,9.49,50.81,77.63,82,0,5.77,SO,1603073139,
9,345,pleasanton,37.66,-121.87,75.00,55,0,1.01,US,1603072704,
10,355,tura,25.52,90.22,78.73,83,0,1.19,IN,1603073141,
11,407,taoudenni,22.68,-3.98,79.03,17,0,6.29,ML,1603073146,
12,455,catamarca,-28.47,-65.79,73.99,52,0,1.99,AR,1603072964,
13,462,doka,13.52,35.77,71.60,78,0,5.28,SD,1603073152,
14,491,bage,-31.33,-54.11,71.60,56,0,8.05,BR,1603072969,

In [67]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

['\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>damietta</dd>\n<dt>Country</dt><dd>EG</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>ibra</dd>\n<dt>Country</dt><dd>OM</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>bilma</dd>\n<dt>Country</dt><dd>NE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>mwense</dd>\n<dt>Country</dt><dd>ZM</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>lahij</dd>\n<dt>Country</dt><dd>YE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>hurghada</dd>\n<dt>Country</dt><dd>EG</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>erzin</dd>\n<dt>Country</dt><dd>TR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>agadez</dd>\n<dt>Country</dt><dd>NE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>bandarbeyla</dd>\n<dt>Country</dt><dd>SO</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>pleasanton</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>tura</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>taoudenni</dd>\n<dt>Country</dt><dd>ML</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>catamarca</dd>\n<dt>Country</dt><dd>AR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>doka</dd>\n<dt>Country</dt><dd>SD</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>bage</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n']

In [ ]:
# Add marker layer ontop of heat map


# Display figure