# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
# from api_keys import g_key
g_key = "AIzaSyBdkQP7bqryY0Zn7edG4CPHHmQzonk2Yrk"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_file = '../starter_code/city_weather.csv'
weather_df = pd.read_csv(csv_file)
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,shimsk,58.21,30.71,35.98,85,47,11.70,RU,1603073103
1,khatanga,71.97,102.50,7.29,87,0,8.61,RU,1603073103
2,cabo san lucas,-8.28,-35.03,78.80,69,75,10.29,BR,1603073103
3,east london,65.00,-15.00,37.40,93,90,16.11,IS,1603073103
4,ushuaia,-54.80,-68.30,39.20,69,75,10.29,AR,1603073103
...,...,...,...,...,...,...,...,...,...
523,nadvoitsy,63.87,34.32,32.74,97,100,8.61,RU,1603072973
524,pontianak,-0.03,109.33,87.98,64,91,1.10,ID,1603072974
525,san cristobal,13.30,-4.90,84.43,42,17,3.89,ML,1603072838
526,ardahan,41.11,42.70,44.49,57,0,1.88,TR,1603072974
527,ayr,55.46,-4.63,53.01,93,75,9.17,GB,1603072875

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [5]:
locations= weather_df[["Lat","Lng"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure(zoom_level= 1.75, center=[3,0])
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False, max_intensity = 100,
                                point_radius=2)

fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
weather_df.columns

Index(['City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [7]:
conditon_df = weather_df.loc[(weather_df["Max Temp"] < 80) & (weather_df["Max Temp"] > 70) &
                              (weather_df["Wind Speed"] < 10) & (weather_df["Cloudiness"] == 0), : ]
conditon_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
24,damietta,31.42,31.81,77.00,78,0,5.82,EG,1603072763
46,ibra,22.69,58.53,72.28,19,0,9.66,OM,1603072904
166,bilma,18.69,12.92,79.05,17,0,5.08,NE,1603072921
219,mwense,-10.38,28.70,74.28,44,0,9.73,ZM,1603072931
240,lahij,13.17,44.58,75.85,45,0,1.74,YE,1603072934
282,hurghada,27.26,33.81,77.00,50,0,5.82,EG,1603072730
297,erzin,36.96,36.20,73.00,86,0,0.98,TR,1603073135
321,agadez,19.75,10.25,79.14,16,0,7.07,NE,1603073292
341,bandarbeyla,9.49,50.81,77.63,82,0,5.77,SO,1603073139
345,pleasanton,37.66,-121.87,75.00,55,0,1.01,US,1603072704
355,tura,25.52,90.22,78.73,83,0,1.19,IN,1603073141
407,taoudenni,22.68,-3.98,79.03,17,0,6.29,ML,1603073146
455,catamarca,-28.47,-65.79,73.99,52,0,1.99,AR,1603072964
462,doka,13.52,35.77,71.60,78,0,5.28,SD,1603073152
491,bage,-31.33,-54.11,71.60,56,0,8.05,BR,1603072969

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df = conditon_df


#reset the indexs for display aesthetic also to make it easier to read the columns 
hotel_df= hotel_df.reset_index().drop(columns="index")

In [10]:
#adding an empty column for Hotel Name 
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,damietta,31.42,31.81,77.00,78,0,5.82,EG,1603072763,
1,ibra,22.69,58.53,72.28,19,0,9.66,OM,1603072904,
2,bilma,18.69,12.92,79.05,17,0,5.08,NE,1603072921,
3,mwense,-10.38,28.70,74.28,44,0,9.73,ZM,1603072931,
4,lahij,13.17,44.58,75.85,45,0,1.74,YE,1603072934,
5,hurghada,27.26,33.81,77.00,50,0,5.82,EG,1603072730,
6,erzin,36.96,36.20,73.00,86,0,0.98,TR,1603073135,
7,agadez,19.75,10.25,79.14,16,0,7.07,NE,1603073292,
8,bandarbeyla,9.49,50.81,77.63,82,0,5.77,SO,1603073139,
9,pleasanton,37.66,-121.87,75.00,55,0,1.01,US,1603072704,
10,tura,25.52,90.22,78.73,83,0,1.19,IN,1603073141,
11,taoudenni,22.68,-3.98,79.03,17,0,6.29,ML,1603073146,
12,catamarca,-28.47,-65.79,73.99,52,0,1.99,AR,1603072964,
13,doka,13.52,35.77,71.60,78,0,5.28,SD,1603073152,
14,bage,-31.33,-54.11,71.60,56,0,8.05,BR,1603072969,

In [11]:
#BUILDING THE SCRIPT TO GET THE HOTEL NAME
radius = 5000

#set the paramater for the api search. type is set to hotel to restrict the search result for the 5000 meter
params = {
    "radius" : radius,
    "types" : "hotel",
    "keyword": "hotel",
     "key":g_key
}

#using the lat and lng from the first, testing the script to get see if name of the hotel is populated 
lat = 31.42
lng = 31.81

params["location"] = f"{lat},{lng}"


base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

response = requests.get(base_url,params)

hotel_nm = response.json()
hotel_nm

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 31.417873, 'lng': 31.8130749},
    'viewport': {'northeast': {'lat': 31.41921927989272,
      'lng': 31.81440102989272},
     'southwest': {'lat': 31.41651962010728, 'lng': 31.81170137010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'فندق المنشي دمياط',
   'photos': [{'height': 607,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113655487638512132839">A Google User</a>'],
     'photo_reference': 'CmRaAAAAjRikltyE2xwj5PS0SMD2VI5yrLMAIWmc4RBB3gh_Ybe7ixpjPthG6TFR5BgocZ18M4qrAbKkNTXWLD2bfqwMLZKSTJuyZ5JwQFi9GoTWpB7FdmDqmlQ80oTcyd3sklgLEhB967aH1MtTYwClJCKNy40rGhSctW_tfL6Ay5SwAaBB73qdi0ZZpw',
     'width': 1080}],
   'place_id': 'ChIJRTTsZIjv-RQR53mxSELmpXc',
   'plus_code': {'compound_code': 'CR97+46 Qism Damietta, Damietta Desert, Egypt',
    'global_code': '8G3HCR97+46'},
   'rating': 3.7,
   'reference': 'ChIJRTTsZIjv-RQR53mxSELmpXc',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 213,
   'vicinity': 'Qism Damietta, Damietta First'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 31.4341041, 'lng': 31.8028098},
    'viewport': {'northeast': {'lat': 31.43545932989272,
      'lng': 31.80419597989272},
     'southwest': {'lat': 31.43275967010728, 'lng': 31.80149632010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'Marin El Nile Hotel',
   'place_id': 'ChIJ1QFyZVzl-RQRnIKOdSo00Tg',
   'rating': 3.9,
   'reference': 'ChIJ1QFyZVzl-RQRnIKOdSo00Tg',
   'scope': 'GOOGLE',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 17,
   'vicinity': '1 Al Moudireya, Qism Damietta, Damietta Desert'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 31.4172211, 'lng': 31.8126608},
    'viewport': {'northeast': {'lat': 31.41850437989271,
      'lng': 31.81403662989272},
     'southwest': {'lat': 31.41580472010727, 'lng': 31.81133697010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'SULIMAN INN',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3456,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109475490471784720741">DK</a>'],
     'photo_reference': 'CmRaAAAAbhqYcblWontIOtOD-BDOy2aqLX1wvnP-nUJJXlpuhTz4aQk2vPHtJZwkUUq5U91ONfwxTfX-2-BuyrU2eSCxRtmVilN0gin-2CdoIBzp-AyVkRMWOad9rBmgHD1QtpmnEhCdfa0OXLoL0t9mrima2wQrGhQSXDWGPcSF-Kzo7WO0YNOA4p341g',
     'width': 4608}],
   'place_id': 'ChIJw4xMcYjv-RQRmaQKJRUj4oM',
   'plus_code': {'compound_code': 'CR87+V3 Qism Damietta, Damietta Desert, Egypt',
    'global_code': '8G3HCR87+V3'},
   'rating': 3.5,
   'reference': 'ChIJw4xMcYjv-RQRmaQKJRUj4oM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 243,
   'vicinity': 'El-Galaa, Qism Damietta, Damietta First'}],
 'status': 'OK'}

In [12]:
#variable to store the hotel name in a list
hotel_name = []

#the radius is set to 5000 meter according to the direction
radius = 5000

#set the paramater for the api search. type is set to hotel to restrict the search result for the 5000 meter
params = {
    "radius" : radius,
    "types" : "hotel",
    "keyword": "hotel",
    "key":g_key
}

#using for loop to go through each row in the df to look for hotels using the lat and lng. 
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url,params)
    
    hotel_nm = response.json()
#using try and except so the script wont end when there is missing response with in the api call    
    try:
        hotel_name.append(hotel_nm["results"][0]["name"])
#storing Nan where values are not found so we can drop those rows later. 
    except:
        hotel_name.append(np.nan)
#ensuring all the rows were called     
len(hotel_name)

15

In [13]:
#add the list created from api call to the df work. 
hotel_df["Hotel Name"] = hotel_name
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,damietta,31.42,31.81,77.00,78,0,5.82,EG,1603072763,فندق المنشي دمياط
1,ibra,22.69,58.53,72.28,19,0,9.66,OM,1603072904,تفضل بيت ضيافة Geust house tafadal
2,bilma,18.69,12.92,79.05,17,0,5.08,NE,1603072921,NaN
3,mwense,-10.38,28.70,74.28,44,0,9.73,ZM,1603072931,GrandPalm Lodge
4,lahij,13.17,44.58,75.85,45,0,1.74,YE,1603072934,NaN
5,hurghada,27.26,33.81,77.00,50,0,5.82,EG,1603072730,Meraki Resort (Adults Only)
6,erzin,36.96,36.20,73.00,86,0,0.98,TR,1603073135,Hattusa Vacation Thermal Club Erzin
7,agadez,19.75,10.25,79.14,16,0,7.07,NE,1603073292,NaN
8,bandarbeyla,9.49,50.81,77.63,82,0,5.77,SO,1603073139,Super secret pirate cove
9,pleasanton,37.66,-121.87,75.00,55,0,1.01,US,1603072704,DoubleTree by Hilton Pleasanton at the Club
10,tura,25.52,90.22,78.73,83,0,1.19,IN,1603073141,Hotel Polo Orchid
11,taoudenni,22.68,-3.98,79.03,17,0,6.29,ML,1603073146,NaN
12,catamarca,-28.47,-65.79,73.99,52,0,1.99,AR,1603072964,Amerian Catamarca Park Hotel
13,doka,13.52,35.77,71.60,78,0,5.28,SD,1603073152,NaN
14,bage,-31.33,-54.11,71.60,56,0,8.05,BR,1603072969,Dallé Hotel

In [14]:
#dropping the nan(missing data) from df 
hotel_df = hotel_df.dropna(how="any")
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,damietta,31.42,31.81,77.00,78,0,5.82,EG,1603072763,فندق المنشي دمياط
1,ibra,22.69,58.53,72.28,19,0,9.66,OM,1603072904,تفضل بيت ضيافة Geust house tafadal
3,mwense,-10.38,28.70,74.28,44,0,9.73,ZM,1603072931,GrandPalm Lodge
5,hurghada,27.26,33.81,77.00,50,0,5.82,EG,1603072730,Meraki Resort (Adults Only)
6,erzin,36.96,36.20,73.00,86,0,0.98,TR,1603073135,Hattusa Vacation Thermal Club Erzin
8,bandarbeyla,9.49,50.81,77.63,82,0,5.77,SO,1603073139,Super secret pirate cove
9,pleasanton,37.66,-121.87,75.00,55,0,1.01,US,1603072704,DoubleTree by Hilton Pleasanton at the Club
10,tura,25.52,90.22,78.73,83,0,1.19,IN,1603073141,Hotel Polo Orchid
12,catamarca,-28.47,-65.79,73.99,52,0,1.99,AR,1603072964,Amerian Catamarca Park Hotel
14,bage,-31.33,-54.11,71.60,56,0,8.05,BR,1603072969,Dallé Hotel

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))